<!DOCTYPE html><html xmlns:th="https://www.thymeleaf.org" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Меню администратора</title>
    <link rel="stylesheet nofollow" href="/css/allstyle.css">
    <link rel="stylesheet nofollow" href="/usercss">
    <link rel="stylesheet nofollow" href="/css/adminstyle.css">
    <script src="/js/main.js"></script>
    <script src="/js/settingsfn.js"></script>
    <script src="/js/adminfn.js"></script>
    <script src="/js/adminuifn.js"></script>
</head>
<body>
<div class="upside-bar">
    <div class="overlay">
        <span class="overlaybutton">
            <a href="/">Главная</a>
        </span>
        <span class="overlaybutton">
            <a href="/tasks" >Задания</a>
        </span>
        <span class="overlaybutton" >
            <a href="/conferences">Звонки</a>
        </span>
        <span class="overlaybutton" style="cursor: pointer">
            <a href="/journal">Журнал</a>
        </span>
        <span class="overlaybutton">
            <a href="/chats">Чаты</a>
        </span>
        <span class="overlaybutton allsettings-button-show" style="justify-content: center;width: fit-content;padding-left: 4px;padding-right: 4px;position: relative">
            <a href="">🛠</a>
               <div class="allsettings" style="display: none">
                    <span class="allsettings-button" onclick="fillSettingsContainer(allSettingsType.SETCSS)">Задать CSS</span>
                   <span class="allsettings-button" onclick="fillSettingsContainer(allSettingsType.SETSETTINGS)">Настройки</span>
                </div>
        </span>
    </div>
</div>
<div class="info-messages" id="msginfo">
    <span class="info-messages-text">test</span>
</div>
    <button type="button" class="allbuttons back-button" onclick="document.location.href='/'" style="width: 11vh">На главную</button>
    <span class="page-header">
        МЕНЮ АДМИНИСТРАТОРА
    </span>
<div class="docbody">
    <div class="menus">
        <div id="menu_user">
            <span>Управление пользователями</span>
            <br>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-user-id',new Pair('/getUserById/','user'),new Pair('/getUsersAll','users'))">Поиск пользователя</button>
                <br>
                <input id="get-user-id" type="text" placeholder="ID пользователя...">
            </p>
        </div>
        <div id="menu_ban">
            <span>Управление банами</span>
            <br>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-ban-id',new Pair('/getBan/','ban'),new Pair('/getBanlist','bans'))">Поиск бана</button>
                <br>
                <input id="get-ban-id" type="text" placeholder="ID бана...">
            </p>
        </div>
        <div id="menu_files">
            <span>Управление файлами</span>
            <br>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-userfile-id',new Pair('/getUserFile/','file'),new Pair('/getUserFiles','files'),'user')">Поиск файла пользователя</button>
                <br>
                <input id="get-userfile-id" type="text" placeholder="ID файла...">
            </p>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-completedfile-id',new Pair('/getCompletedtaskFile/','file'),new Pair('/getCompletedtaskFiles','files'),'taskcompleted')">Поиск файла выполненного задания</button>
                <br>
                <input id="get-completedfile-id" type="text" placeholder="ID файла...">
            </p>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-taskfile-id',new Pair('/getTaskfile/','file'),new Pair('/getTaskfiles','files'),'task')">Поиск файла задания</button>
                <br>
                <input id="get-taskfile-id" type="text" placeholder="ID файла...">
            </p>
        </div>
        <div id="menu_group">
            <span>Управление группами</span>
            <br>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-group-id',new Pair('/getGroup/','group'),new Pair('/getGroups','groups'))">Поиск группы</button>
                <br>
                <input id="get-group-id" type="text" placeholder="ID группы...">
            </p>
            <p>
                <button type="button" id="group_add_btn" onclick="controlForm('groupform')">Добавить группу</button>
            </p>
        </div>
        <div id="menu_role">
            <span>Управление ролями</span>
            <br>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-role-id',new Pair('/getRole/','role'),new Pair('/getRoles','roles'))">Поиск роли</button>
                <br>
                <input id="get-role-id" type="text" placeholder="ID роли...">
            </p>
            <p>
                <button type="button" id="role_add_btn" onclick="controlForm('roleform')">Добавить роль</button>
            </p>
        </div>
        <div id="menu_subject">
            <span>Управление предметами</span>
            <br>
            <p class="input-and-button">
                <button type="button" onclick="getData('get-subject-id',new Pair('/getSubject/','subject'),new Pair('/getSubjects','subjects'))">Поиск предмета</button>
                <br>
                <input id="get-subject-id" type="text" placeholder="ID предмета...">
            </p>
            <p>
                <button type="button" id="subject_add_btn" onclick="controlForm('subjectform')">Добавить предмет</button>
            </p>
        </div>
    </div>
    <div class="info-zone" id="getter_info">
    </div>
</div>
<div class="setting-container" style="display: none"></div>
</body>
</html>