<!DOCTYPE html><html xmlns:th="https://www.thymeleaf.org" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Создание чата</title>
    <link rel="stylesheet nofollow" href="/css/allstyle.css">
    <link rel="stylesheet nofollow" href="/usercss">
    <link rel="stylesheet nofollow" href="/css/chatstyle.css">
    <script src="/js/main.js"></script>
    <script src="/js/sortfn.js"></script>
    <script src="/js/chatfn.js"></script>
</head>
<body>
<div class="upside-bar">
    <div class="overlay">
        <span class="overlaybutton">
            <a href="/">Главная</a>
        </span>
        <span class="overlaybutton">
            <a href="/tasks" >Задания</a>
        </span>
        <span class="overlaybutton" >
            <a href="/conferences">Звонки</a>
        </span>
        <span class="overlaybutton" style="cursor: pointer">
            <a href="/journal">Журнал</a>
        </span>
        <span class="overlaybutton">
            <a href="/chats">Чаты</a>
        </span>
        <span class="overlaybutton allsettings-button-show" style="justify-content: center;width: fit-content;padding-left: 4px;padding-right: 4px;position: relative">
            <a href="">🛠</a>
               <div class="allsettings" style="display: none">
                    <span class="allsettings-button" onclick="fillSettingsContainer(allSettingsType.SETCSS)">Задать CSS</span>
                </div>
        </span>
    </div>
</div>
<div class="info-messages" id="msginfo">
    <span class="info-messages-text">test</span>
</div>
<button type="button" class="allbuttons back-button" onclick="document.location.href='/chats'">Назад</button>
<span class="page-header" th:text="${chat!=null ? 'ИЗМЕНЕНИЕ ЧАТА':'СОЗДАНИЕ ЧАТА'}"></span>
<div class="chat-zone">
    <div class="chat-name-field_ chat-input-field" style="width: 100%">
        <label for="chat_name">Название чата</label><br>
        <input type="text" id="chat_name" th:value="${chat!=null ? chat.chat.name:''}" required>
    </div>
    <div class="chat-subject-field chat-input-field" style="width: 100%">
        <label for="subject_selector">Предмет</label>
        <br>
        <input id="subject_selector" type="text" list="subject_selector_list" th:value="${chat!=null && chat.chat.subjectId!=null ? chat.chat.subjectId.name:''}">
        <datalist id="subject_selector_list">
            <option th:each="subject: ${subjects}" th:value="${subject.name}"></option>
        </datalist>
    </div>
    <div class="chat-group-field chat-input-field" style="width: 100%">
        <div style="width: 100%">
            <label for="group_selector">Группа</label>
            <br>
            <input id="group_selector" type="text" list="group_selector_list" th:value="${chat!=null && chat.chat.groupId!=null ? chat.chat.groupId.name : ''}">
            <datalist id="group_selector_list">
                <option th:each="group: ${groups}" th:value="${group.name}"></option>
            </datalist>
        </div>
    </div>
    <div class="chat-chatuser-field chat-input-field" style="width: 100%">
        <div style="width: 100%;min-width: 60%">
            <label for="chatuser_selector">Пользователи</label>
            <br>
            <input id="chatuser_selector" type="text" list="chatuser_selector_list" style="width: 100%">
            <datalist id="chatuser_selector_list">
                <option th:each="chatuser: ${users}" th:value="${chatuser.login}" th:text="${chatuser.groupsNames}"></option>
            </datalist>
        </div>
        <div id="chatuser_list" class="user-list">
            <span th:if="${chat!=null}">
            <span  th:each="chatuser: ${chat.user}" th:text="${chatuser.login}+' '" th:id="'chatuser_'+${chatuser.id}" th:data-group="${chatuser.groupsNames}" class="chatuser-from-list" th:attr="onclick='deleteFromChatUserList(\'chatuser_'+${chatuser.id}+'\')'"></span>
        </span>
        </div>
    </div>
    <button type="button" class="allbuttons" style="width: 20vh;align-self: center;margin-top: 10px" th:text="${chat!=null ? 'Сохранить':'Создать'}" onclick="sendChatToSv(null)">Создать</button>
</div>
<div class="setting-container" style="display: none"></div>
</body>
</html>