<!DOCTYPE html><html xmlns:th="https://www.thymeleaf.org" lang="ru"><head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Видеоконференции</title>
  <link rel="stylesheet nofollow" href="/css/allstyle.css">
    <link rel="stylesheet nofollow" href="/usercss">
  <link rel="stylesheet nofollow" href="/css/conferencesstyle.css">
  <script src="/js/main.js"></script>
    <script src="/js/settingsfn.js"></script>
  <script src="/js/conferencesfn.js"></script>
  <script src="/js/sortfn.js"></script>
</head>
<body>
<div class="upside-bar">
  <div class="overlay">
        <span class="overlaybutton">
            <a href="/">Главная</a>
        </span>
    <span class="overlaybutton">
            <a href="/tasks" >Задания</a>
        </span>
    <span class="overlaybutton" >
            <a href="/conferences">Звонки</a>
        </span>
    <span class="overlaybutton" style="cursor: pointer">
            <a href="/journal">Журнал</a>
        </span>
      <span class="overlaybutton">
            <a href="/chats">Чаты</a>
        </span>
      <span class="overlaybutton allsettings-button-show" style="justify-content: center;width: fit-content;padding-left: 4px;padding-right: 4px;position: relative">
            <a href="">🛠</a>
               <div class="allsettings" style="display: none">
                    <span class="allsettings-button" onclick="fillSettingsContainer(allSettingsType.SETCSS)">Задать CSS</span>
                   <span class="allsettings-button" onclick="fillSettingsContainer(allSettingsType.SETSETTINGS)">Настройки</span>
                </div>
        </span>
  </div>
</div>
<div class="info-messages" id="msginfo">
    <span class="info-messages-text">test</span>
</div>
<button type="button" class="allbuttons back-button" onclick="document.location.href='/'">Назад</button>
<span class="page-header">
        ВИДЕОКОНФЕРЕНЦИИ
    </span>
<div class="conferences-zone">
    <div class="conferences-active">
        <div id="conferences_active_filters" class="conferences-active-filters" style="align-self: start">
            <button type="button" class="allbuttons" onclick="showFilters('filter_active_zone')" style="margin-right: 5px">Фильтры</button>
            <div id="filter_active_zone" class="filter-active-zone" style="display: none">
                <div>
                    <label for="filter_active_datepicker_start">Дата начала</label>
                    <br>
                    <input type="date" id="filter_active_datepicker_start" class="filter-element form-input" placeholder="Дата начала...">
                </div>
                <div>
                    <label for="filter_active_datepicker_end">Дата конца</label>
                    <br>
                    <input type="date" id="filter_active_datepicker_end" class="filter-element form-input" placeholder="Дата конца...">
                </div>
                <div>
                    <label for="filter_active_subject">Предмет</label>
                    <br>
                    <input type="text" id="filter_active_subject" class="filter-element form-input" list="filter_active_subject_list" placeholder="Предмет..." autocomplete="off">
                    <datalist id="filter_active_subject_list">
                        <option th:each="subject: ${subject_list}" th:value="${subject.name}"></option>
                    </datalist>
                </div>
                <div>
                    <label for="filter_active_name">Название</label>
                    <br>
                    <input type="text" id="filter_active_name" class="filter-element form-input" placeholder="Название...">
                </div>
                <div th:if="${userrole!='STUDENT'}">
                    <label for="filter_active_group">Группа</label>
                    <br>
                    <input type="text" id="filter_active_group" class="filter-element form-input" list="filter_active_group_list" placeholder="Группа..." autocomplete="off">
                    <datalist id="filter_active_group_list">
                        <option th:each="group: ${group_list}" th:value="${group.name}"></option>
                    </datalist>
                </div>
            </div>
        </div>
        <span class="conference-zone-block-header" th:if="${videocallsList.keySet()}!=null">Активные конференции</span>
        <div class="conferences-active-block">
            <div th:id="'active_conference_'+${entry.key.id}" class="conference-active" th:each="entry,iterator2: ${videocallsList}" th:title="'Участники - '+${entry.key.participants}">
                <div style="width: 70%">
                    <span class="conference-active-name conf-name" th:text="${entry.key.conferencesId.name}"></span>
                    <br>
                    <span class="conference-active-subject conf-subject" th:text="${entry.key.conferencesId.subjectId.name}"></span>
                    <br>
                    <span class="conference-group conf-group">
                    <span th:each="group, iterator2 : ${entry.key.conferencesId.groupId}"
                          th:text="${group.name + (iterator2.last ? '' : ' ')}"></span>
                </span>
                    <br>
                    <span class="conference-active-date conf-date" th:text="'Началась '+${entry.value}+' назад'"></span>
                </div>
                <button type="button" class="allbuttons" th:attr="onclick='redirectToConf('+${entry.key.conferencesId.id}+')'">Подключиться</button>
            </div>
            <div th:if="${videocallsList.size()<=0}" class="conference-active-empty">
                <span style="color: #20cb17;">Ничего нет ¯\_(ツ)_/¯</span>
            </div>
        </div>
    </div>
    <div class="conferences-all" th:if="${conferencesList}!=null">
        <div id="conferences_filters" class="conferences-filters" style="align-self: end">
            <button type="button" class="allbuttons" onclick="showFilters('filter_zone')" style="margin-right: 5px;">Фильтры</button>
            <div id="filter_zone" class="filter-zone" style="display: none">
                <div>
                    <label for="filter_datepicker_start">Дата начала</label>
                    <br>
                    <input type="date" id="filter_datepicker_start" class="filter-element form-input" placeholder="Дата начала...">
                </div>
                <div>
                    <label for="filter_datepicker_end">Дата конца</label>
                    <br>
                    <input type="date" id="filter_datepicker_end" class="filter-element form-input" placeholder="Дата конца...">
                </div>
                <div>
                    <label for="filter_subject">Предмет</label>
                    <br>
                    <input type="text" id="filter_subject" class="filter-element form-input" list="filter_subject_list" placeholder="Предмет..." autocomplete="off">
                    <datalist id="filter_subject_list">
                        <option th:each="subject: ${subject_list}" th:value="${subject.name}"></option>
                    </datalist>
                </div>
                <div>
                    <label for="filter_name">Название</label>
                    <br>
                    <input type="text" id="filter_name" class="filter-element form-input" placeholder="Название...">
                </div>
                <div th:if="${userrole!='STUDENT'}">
                    <label for="filter_group">Группа</label>
                    <br>
                    <input type="text" id="filter_group" class="filter-element form-input" list="filter_group_list" placeholder="Группа..." autocomplete="off">
                    <datalist id="filter_group_list">
                        <option th:each="group: ${group_list}" th:value="${group.name}"></option>
                    </datalist>
                </div>
            </div>
        </div>
        <span class="conference-zone-block-header">Все конференции</span>
        <div th:id="'conference_'+${conference.id}" class="conference" th:each="conference,iterator: ${conferencesList}" th:attr="onclick='redirectToConf('+${conference.id}+')'">
            <div style="width: 80%">
                <span class="conference-name conf-name" th:text="${conference.name}"></span>
                <br>
                <span class="conference-date conf-date" th:text="${#temporals.format(conference.datestart, 'yyyy-MM-dd HH:mm')}"></span>
                <br>
                <span class="conference-subject conf-subject" th:text="${conference.subjectId.name}"></span>
                <br>
                <span class="conference-group conf-group">
                    <span th:each="group, iterator2 : ${conference.groupId}"
                          th:text="${group.name + (iterator2.last ? '' : ' ')}"></span>
                </span>
            </div>
            <div style="text-align: end;">
                <span th:id="'button_settings_'+${iterator.index}" class="conference-settings-btn" th:attr="onclick='showConfSettings('+${iterator.index}+')'">⚙️</span>
                <div th:id="'conference_settings_'+${iterator.index}" class="conference-settings-block" style="display: none">
                    <button type="button" class="conference-setting-element" th:attr="onclick='redirectToConfUpdatePage('+${conference.id}+')'">Изменить</button>
                    <button type="button" class="conference-setting-element" th:attr="onclick='deleteConference('+${conference.id}+',\''+${conference.name}+'\')'">Удалить</button>
                </div>
            </div>
        </div>
        <button type="button" class="allbuttons" th:if="${userrole}!='STUDENT'" onclick="window.location.href='conference/create'" style="align-self: center">Создать</button>
    </div>
</div>
<div class="setting-container" style="display: none"></div>
</body>
</html>